    
    
    <link href="../../css/home.css" rel="stylesheet">

    <%- include('partials/header.ejs') %>
    
    <p><%= email %></p>
    <p><%= username %></p>
    <p><%= role %></p>
    <p>hello world!</p>
    

    <div>
        <img src="../../img/mainPage1.jpg" class="imgHome"/>
    </div>

    <%- include('partials/footer.ejs') %>




